@charset "utf-8";
/* CSS Document */
h1{
	font-size: 100px;
}
h2
{
	font-size: 50px;
}
h4{
	
	font-size: 40px;
}

.flexbox1{
	background: #FFFFFF;
	width: 100%;
	height: 20%;
	justify-content: center;
	align-items: flex-start;
}
nav{
	position: relative;
	margin: 60px auto 0;
	width: 1200px;
	height: 50px;
	background:#000000;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
	
}
nav a{
	
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position:absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
	
}
nav a:nth-child(1){
	width: 150px;
}
nav .start-home, a:nth-child(1):hover~.animation{
width: 150px;
	left: 0;
}
nav a:nth-child(2){
	width: 150px;
	
}
nav a:nth-child(2):hover~.animation{
width: 150px;
	left: 150px;
}
nav a:nth-child(3){
	
	width: 150px;
}
nav a:nth-child(3):hover~.animation{
	width: 140px;
	left: 300px;
	
}
nav a:nth-child(4){
	
	width: 150px;
}
nav a:nth-child(4):hover~.animation{
	width: 170px;
	left: 440px;
	
}
nav a:nth-child(5){
	margin-left: 370px;
	width: 100px;
}
nav a:nth-child(5):hover~.animation{
	width: 100px;
	left: 970px;
	
}
nav a:nth-child(6){
	
	width: 100px;
}
nav a:nth-child(6):hover~.animation{
	width: 100px;
	left: 1070px;
	
}
footer div{
	display: inline-block;

}
.foot{
	background-color: black;
	margin-top: 300px;
}
.foot1
{
    padding: 70px 15px 10px;
	width: 20%;
	

}
.foot1 h4{
    font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position:relative;	
	margin-top: 20px;
}
.foot1 a i {
	display: inline-block;
} 
.foot1 ul li a{
	font-size: 16px;
	position: absolute;

}
.foot1 .social a i {
	display: inline-block;
	height: 40px;
	width: 40px;
	color:burlywood;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	background-color:burlywood;
	transition: all 0.5s ease;
}
.foot1 .social a i:hover{
	color: #24262b;
	background-color:cornflowerblue;
	
}
footer{
	margin-top: 70px;
	padding-bottom: 70px;
}
