@charset "utf-8";
/* CSS Document */

h1{
	font-size: 100px;
}
h1 center{
	margin-left: 150px;
	margin-top: 180px;
}
.logo img{
	 position: absolute;
  left: 100px;
  right: 0px;
  top: 0px;
	bottom: 10px;
  z-index: -1;
}

footer div{
	display: inline-block;

}
.foot{
	background-color: black;
	
}
.foot1
{
    padding: 70px 15px 10px;
	width: 20%;
	

}
.foot1 h4{
    font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position:relative;	
	margin-top: 20px;
}
.foot1 a i {
	display: inline-block;
} 
.foot1 ul li a{
	font-size: 16px;
	position: absolute;
	

}
.foot1 .social a i {
	display: inline-block;
	height: 40px;
	width: 40px;
	color:burlywood;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	background-color:burlywood;
	transition: all 0.5s ease;
}
.foot1 .social a i:hover{
	color: #24262b;
	background-color:cornflowerblue;
	
}
.highlight{ font-weight:bold;
padding-left: 30px;
}

.pic2{
	margin: 80px; 
	background: #FFFFFF;
	width: 90%;
	height: 80%;
	display: flex;
	align-items: flex-start;
}

.pic1 {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
display: inline-block;	
padding-left: 90px ;	
padding-right: 50px;
padding-top: 20px;
padding-bottom: 40px;
	
}
/*picture slides*/
body{
	
	font-family: "Muli", sans-serif;
	display:contents;
	height: 100vh;
	overflow:hidden;
	margin: 0;
	background: #F9F9F9;
}
.container1{
	margin-top: 20px;
	display: flex;
	width: 90vw;
	background-position: top;
	
	
}
.panel{
	background-size: auto 100%;
	background-position:bottom;
	background-repeat: no-repeat;
	height: 80vh;
	border-radius: 50px;
	cursor: pointer;
	flex: 0.5;
	margin: 10px;
	position: relative;
	transition: flex 0.7s ease in;
	transition: all 700ms ease-in;
}
.panel h3{
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
}

.panel.active{
	flex: 5;
	
}
.panel.active h3{
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}


.flexbox1{
	background: #FFFFFF;
	width: 100%;
	height: 20%;
	justify-content: center;
	align-items: flex-start;
}
nav{
	position: relative;
	margin: 60px auto 0;
	width: 1200px;
	height: 50px;
	background:#000000;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
	
}
nav a{
	
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position:absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
	
}
nav a:nth-child(1){
	width: 150px;
}
nav .start-home, a:nth-child(1):hover~.animation{
width: 150px;
	left: 0;
}
nav a:nth-child(2){
	width: 150px;
	
}
nav a:nth-child(2):hover~.animation{
width: 150px;
	left: 150px;
}
nav a:nth-child(3){
	
	width: 150px;
}
nav a:nth-child(3):hover~.animation{
	width: 140px;
	left: 300px;
	
}
nav a:nth-child(4){
	
	width: 150px;
}
nav a:nth-child(4):hover~.animation{
	width: 170px;
	left: 440px;
	
}
nav a:nth-child(5){
	margin-left: 370px;
	width: 100px;
}
nav a:nth-child(5):hover~.animation{
	width: 100px;
	left: 970px;
	
}
nav a:nth-child(6){
	
	width: 100px;
}
nav a:nth-child(6):hover~.animation{
	width: 100px;
	left: 1070px;
	
}
.flexbox{
	background: #FFFFFF;
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	
}
.search{
	margin-right: 200px;
	color: black;
	font-size: 16px;
	width: 25px;
	height: 25px;
	padding: 10px;
	border-radius: 50%;
}
.search .butn input{
	
	border-radius: 15px;
	font-size: 16px;
	width: 250px;
	height: 20px;
	padding: 10px;
}
.search .subtn input{
margin-left: 280px;
border-radius: 5px;
}

