@charset "utf-8";
/* CSS Document */
.bg-img{
	background:url("photo-1441986300917-64674bd600d8.jfif");
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.content{
	font-size: 18px;
    border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	text-align: center;
	padding: 60px 32px;
	width: 800px;
	color: #ffffff;
	transform: translate(-50%,-50%);
	background: rgba(255,255,255,0.133);
	border: 1px solid #fff;
	backdrop-filter:blur(3px);
	box-shadow: 0 0 6px 0 rgba(29,29,29,0.203);
}

.container{
	align-content: center;
	width:100%;
margin:0 auto;
background-color:#000000;
	border: 2px;
	border-radius: 8px;

	}
nav{
height: 25px;
}
nav a{ 
	font-size: 18px;
	align-text:center;
	color:#ffffff;
	text-decoration:none;
	padding:2px 5px;
	display: inline-block;
	margin-left: 120px;
	}
