@charset "utf-8";
/* CSS Document */

.content{
	margin-top: 20px;
	background:url("newsletter_anmeldung_07_xl.jpg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: width="1500" height="623";
}
.content .new
{
 border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	text-align: center;
	padding: 60px 32px;
	width: 550px;
	transform: translate(-50%,-50%);
	background: rgba(255,255,255,0.133);
	border: 1px solid #fff;
	backdrop-filter:blur(3px);
	box-shadow: 0 0 6px 0 rgba(29,29,29,0.203);	
}