@charset "utf-8";
/* CSS Document */

.content{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
	width: 350px;
	height: 350px;
display: inline-block;	
padding-left: 90px ;	
padding-right: 50px;
padding-top: 20px;
padding-bottom: 40px;
		
}
img{
width: 350px;
	height: 350px;	
	
}