@charset "utf-8";
/* CSS Document */
h1{
	font-size:100px;
}

.search{
font-size: 30px;	 
}

input{
	width: 250px;
	padding-top: 10px;
	border-radius: 8px;
}
.ladies{	
margin: 30px;	
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 350px;
text-align: center;
font-family: arial;
height: 350px;
width: 350px;
float: left;
border: 1px solid #000000;
}
.ladies img{	
	height: 350px;
	width: 350px;
}
.ladies .Pname p{
	font-size: 20px;
	
	margin-top: 10px;
}
.ladies .Pname {	
	margin-top: 10px;
}
.ladies .btn{
	
	border: none;
  outline: 0;
  padding: 12px;
  color: #000000;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 94%;
  font-size: 18px;
}
.ladies .btn button {
text-decoration-color: white;
color: #000000;	
}

.footrow{
	max-width: 2000px;
	margin: auto;
	
}
.row{
max-width: 2000px;
display: flex;
	flex-wrap: wrap;
}
ul{
list-style: none;
	
}

.foot{
	background-color: #24262b;
	padding: 70px 0;
}
.foot1{
width: 20%;
	padding: 0 15px;
	
}
.foot1 h4{
font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.foot ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}

.foot1 .social a i {
	display: inline-block;
	height: 40px;
	width: 40px;
	color:burlywood;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	background-color:burlywood;
	transition: all 0.5s ease;
}
.foot1 .social a i:hover{
	color: #24262b;
	background-color:cornflowerblue;
	
}


.flexbox1{
	background: #FFFFFF;
	width: 100%;
	height: 20%;
	justify-content: center;
	align-items: flex-start;
}
nav{
	position: relative;
	margin: 60px auto 0;
	width: 1200px;
	height: 50px;
	background:#000000;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
	
}
nav a{
	
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position:absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
	
}
nav a:nth-child(1){
	width: 150px;
}
nav .start-home, a:nth-child(1):hover~.animation{
width: 150px;
	left: 0;
}
nav a:nth-child(2){
	width: 150px;
	
}
nav a:nth-child(2):hover~.animation{
width: 150px;
	left: 150px;
}
nav a:nth-child(3){
	
	width: 150px;
}
nav a:nth-child(3):hover~.animation{
	width: 140px;
	left: 300px;
	
}
nav a:nth-child(4){
	
	width: 150px;
}
nav a:nth-child(4):hover~.animation{
	width: 170px;
	left: 440px;
	
}
nav a:nth-child(5){
	margin-left: 370px;
	width: 100px;
}
nav a:nth-child(5):hover~.animation{
	width: 100px;
	left: 970px;
	
}
nav a:nth-child(6){
	
	width: 100px;
}
nav a:nth-child(6):hover~.animation{
	width: 100px;
	left: 1070px;
	
}
.lrow{
max-width: 1500px;
display: inline-flex;
	flex-wrap: wrap;
}